<b> PRINT FUNCTION <b>

In [15]:
'''

print() is inbulit function for printing

'''
# printing using single quotes
print('Hello Python')
# printing using double quotes
print("Hello Python")
# using escape \
print('Hello Python\'s')
# escape not required when double qoutes is used
print("Hello Python's")

Hello Python
Hello Python
Hello Python's
Hello Python's

<b>VARIABLES<b>

In [16]:
# printing after storing in variable
a = 10
b = 'edureka'
print(a,b)

10 edureka

In [17]:
# multiple line variable assignment
x = 10
y = 20
z = 30
print(x, y, z)

# single line variable assignment
x, y, z = 40, 50, 60
a, b , c = 'Hello', 'World', 'Python'
print(x, y, z)
print(a, b , c)

10 20 30
40 50 60
Hello World Python

In [21]:
'''

Variables are nothing but reserved memory locations to stores values. This means when we create
variables we reserve some space in memory.

'''
# rules for identifiers ( variable declartion)
_x = 10   # valid
__y = 20  # valid
z21 = 30  # valid

# 0a = 20   # invalid
# @a = 10   # invalid
# a@ = 40   # invalid

print(_x, __y, z21)

10 20 30

<b> DATA TYPES <b>

In [82]:
'''

                              Standard Data Types
                   ___________________|__________________
                  |                                      |
    immutable(values can't be changed)        mutables(values can be changed)
    |__ numbers(int, float, complex)          |__ lists
    |__ strings                               |__ dictionaries
    |__ tupples                               |__ sets
    
'''

# classification of datatypes

<b> INTEGERS <b>

In [78]:
# int numbers
a = 10
b = 20
c = b - a
print(c)
print(type(c))

10
<class 'int'>

<b>  FLOATS <b>

In [92]:
# float numbers
a = 10.00
b = 20
c = b - a
print(c)
print(type(c))

10.0
<class 'float'>
0.2999999999999998

In [93]:
# there is no presize way to store float
# always losse accuracy
x = 6
y = 5.7
z = x - y
print(z)

0.2999999999999998

In [97]:
# rounding it then substracting
z = round(6-5.7,2)
print(z)

0.3

<b> COMPLEX NUMBER <b>

In [80]:
# complex numbers
a = 10 + 6j
b = 5 + 4j
c = a - b
print(c)
print(type(c))

(5+2j)
<class 'complex'>

<b> ADDITION <b>

In [67]:
# addition arithmetic operations
a = 10
b = 10
c = a + b
print(c)

20

<b> SUBSTRACTION <b>

In [69]:
# substraction arithmetic operations
a = 20 
b = 10
c = a - b
print(c)

10

<b> MULTIPLICATION <b>

In [70]:
# multiplication arithmetic operations
a = 10 
b = 10
c = a * b
print(c)

100

<b> DIVISION <b>

In [71]:
# divison with remainder arithmetic operations
a = 10 
b = 3
c = a / b
print(c)

3.3333333333333335

In [72]:
# floor divison arithmetic operations
a = 10 
b = 3
c = a // b
print(c)

3

<b> EXPONENT <b>

In [73]:
# exponent arithmetic operations
a = 2
b = 3
c = a ** 3
print(c)

8

<b> MODULUS <b>

In [74]:
# modulus arithmetic operations
a = 10 
b = 3
c = a % b
print(c)

1

<b> ARITHMETIC OPERATIONS RULE<b>

In [86]:
# follow BODMASS 
a = ((10 + 5) * 15) + 100 - 25
print(a)

300

<b> SHORT HAND<b>

In [75]:
# short hand arithmetic operations
a = 5
a *= 2
print(a)

10

<b> ABSOLUTE <b>

In [76]:
# absolute ( + value ) arithmetic operations
a = -12
print(abs(a))

12

<b> ROUND OFF <b>

In [91]:
# round arithmetic operations
a = 3.50
b = 3.49
c = 4.52762842
print(round(a))
print(round(b))

# round to 3 decimal points
print(round(c, 3))

4
3
4.528

<b> EQUAL OPERATOR<b>

In [61]:
# equal comparision operators
a = 10
b = 10
print(a == b)

True

<b> NOT EQUAL <b>

In [62]:
# not equal comparision operators
a = 10a
b = 10
print(a != b)

False

<b> GREATER THAN <b>

In [63]:
# greater than comparision operators
a = 20 
b = 10
print(a>b)

True

<b> GREATER THAN EQUAL TO <b>

In [64]:
# greater than equal to comparision operators
a = 20 
b = 20
print(a>=b)

True

<b> LESS THAN <b>

In [65]:
# less than comparision operators
a = 20 
b = 10
print(a<b)

False

<b> LESS THAN EQUAL TO <b>

In [66]:
# less than equal to comparision operators
a = 20 
b = 10
print(a<=b)

False

<b> STRINGS <b>

In [89]:
# addition of two string
a = '100'
b = '200'
c = a + b
print(c)

# conversion to int
c = int(a) + int(b)
print(c)

100200
300

In [1]:
# string basic
message = "Learing Python"
print(message)

Learing Python

<b> PARGRAPH PRINTING<b>

In [2]:
# print same as written
info = '''
    I don't know the probability but
    I am 95% sure that it lies in this interval.
'''
print(info)

    I don't know the probability but
    I am 95% sure that it lies in this interval.

<b> LENGTH OF STRING <b>

In [3]:
# length of the string
message = "Python"
print(len(message))

6

<b> INDEXING OF STRING <b>

In [5]:
# indexing of string
message = "HelloWorld"
# character at 0th position
print(message[0])

# character at 1st position
print(message[1])

# character at last position
print(message[-1])

# if we index out of range then it will give error
# print(message[10])

H
e
d

<b> SLICING OF STRING <b>

In [11]:
# slicing of string
message = "HelloWorld"
# [0:5] 0 is inclusive but 5 is exclusive
print(message[0:5])
print(message[:5])
print(message[5:15])
print(message[5:])
# reverse 
print(message[::-1])

Hello
Hello
World
World
dlroWolleH

<b> LOWER AND UPPER CASE <b>

In [43]:
# lower case
print(message.lower())

# upper case
print(message.upper())

# make copy of string, original string is not changed
print(message)

hello, sumit. welcome!
HELLO, SUMIT. WELCOME!
Hello, SUMIT. Welcome!

<b> COUNT OF WORDS <b>

In [22]:
# count the occuarance
print(message.count('Hello'))

# if no occurance found then 0
print(message.count('Python'))

1
0

<b> FINDING WORDS <b>

In [23]:
# find the index of first occurance
print(message.find('l'))
print(message.find('World')) # 'w' is at 5th index

# if not found then -1
print(message.find('Sumit'))

2
5
-1

In [25]:
# replace the word
print(message.replace('World', 'Python'))

HelloPython

<b> CONCATENATING AND FORMATTING<b>

In [41]:
# concatenation using + operator
name = "Sumit"
greeting = "Hello"
print(greeting + ", " + name + ". Welcome!")

# formating
message = '{}, {}. Welcome!'.format(greeting, name)
print(message)

# other way
message = f'{greeting}, {name.upper()}. Welcome!'
print(message)

Hello, Sumit. Welcome!
Hello, Sumit. Welcome!
Hello, SUMIT. Welcome!

<b> STRINGS ARE IMMUTABLE<b>

In [44]:
# strings are immutable
message = "Python"
new_msg = message[0] = 'J'
print(new_msg)

# error strings are immutable

TypeError: 'str' object does not support item assignment

In [146]:
# looping in string
letter = 'abcdefgh'
for l in letter:
    print(l)

a
b
c
d
e
f
g
h

<b> LISTS [ ] <b>

In [2]:
# lists: mutable, ordered, duplicacy allowed
courses = ['Maths', 'Programming', 'History', 'Chemistry', 'Physics']
print(courses)

['Maths', 'Programming', 'History', 'Chemistry', 'Physics']

<b> LENGHT OF LIST <b>

In [3]:
# length of list
print(len(courses))

5

<b> CREATING LIST WITH RANGE <b>

In [8]:
range_list = range(5)
print(range_list)
for item in range_list:
    print(item)

range(0, 5)
0
1
2
3
4

<b> INDEXING IN LIST <b>

In [4]:
# indexing in list

# element at 0th position
print(courses[0])

# last element
print(courses[-1])

# error if index is out of range
# print(courses[10])

Maths
Physics

<b> SLICING IN LIST <b>

In [5]:
# slicing in list
print(courses[0:2])
print(courses[:2])
print(courses[2:5])
print(courses[2:])

['Maths', 'Programming']
['Maths', 'Programming']
['History', 'Chemistry', 'Physics']
['History', 'Chemistry', 'Physics']

<b> APPEND IN LIST <b>

In [6]:
# append at last index
courses.append('Art')
print(courses)

['Maths', 'Programming', 'History', 'Chemistry', 'Physics', 'Art']

<b> INSERTING IN LIST<b>

In [7]:
# inserting at particular index
courses.insert(0, 'Statistics')
print(courses)

# made changes in the original list

['Statistics', 'Maths', 'Programming', 'History', 'Chemistry', 'Physics', 'Art']

<b> ADDING TWO LIST<b>

In [8]:
# adding two list insert 
course_1 = ['Maths', 'History']
course_2 = ['Chemistry', 'Art']
course_1.insert(0, course_2)
print(course_1)

# list at 0th position
print(course_1[0])

# nested list can be constructed

[['Chemistry', 'Art'], 'Maths', 'History']
['Chemistry', 'Art']

<b> EXTENDING LIST <b>

In [9]:
# adding two list extend ( last position )
course_1 = ['Maths', 'History']
course_2 = ['Chemistry', 'Art']
course_1.extend(course_2)
print(course_1)

# element at 0th position not list
print(course_1[2])

# nested list can be constructed

['Maths', 'History', 'Chemistry', 'Art']
Chemistry

<b> REMOVE FROM LIST <b>

In [10]:
# removing particular element
courses.remove('Maths')
print(courses)

# element 'Maths' has been removed from the original list

['Statistics', 'Programming', 'History', 'Chemistry', 'Physics', 'Art']

<b> LISTS ARE MUTABLE <b>

In [11]:
# list is mutable
courses[0] = "Maths"
print(courses)

# 0th elements 'Statistics' manupulated to 'Maths'

['Maths', 'Programming', 'History', 'Chemistry', 'Physics', 'Art']

<b> POP IN LIST <b>

In [12]:
# pop in list
print(courses.pop())
# last element is removed
print(courses)

Art
['Maths', 'Programming', 'History', 'Chemistry', 'Physics']

<b> REVERSING LIST <b>

In [13]:
# reversing the list
print(courses)
courses.reverse()
print(courses)

['Maths', 'Programming', 'History', 'Chemistry', 'Physics']
['Physics', 'Chemistry', 'History', 'Programming', 'Maths']

<b> SORTING LIST<b>

In [14]:
# sorting the list
print(courses)
courses.sort()
print(courses)

['Physics', 'Chemistry', 'History', 'Programming', 'Maths']
['Chemistry', 'History', 'Maths', 'Physics', 'Programming']

<b> GETTING INDEX <b>

In [16]:
# getting index of element in list
print(courses)
# Maths is at 2nd index
print(courses.index('Maths'))

['Chemistry', 'History', 'Maths', 'Physics', 'Programming']
2

<b> IS ITEM 'IN' LIST <b>

In [17]:
# is element in list?
print('Maths' in courses)
print('Arts' in courses)

True
False

<b> ITERATING BY FOR LOOP<b>

In [20]:
# iterating through list items
for course in courses:
    print(course)
# here for each loop consecutive element of courses get assign to items var and print it.

Chemistry
History
Maths
Physics
Programming

<b> ENUMERATE IN FOR LOOP<b>

In [27]:
# using emnumerate function to get element with index value also
for index, course in enumerate(courses):
    print(index, course)

0 Chemistry
1 History
2 Maths
3 Physics
4 Programming

In [26]:
# starting from particular index
for index, course in enumerate(courses, start=1):
    print(index, course)

1 Chemistry
2 History
3 Maths
4 Physics
5 Programming

<b> LIST TO STRING CONVERSION<b>

In [29]:
# converting list into string
str_courses = ' - '.join(courses)
# prints list in hyphen separtated string value
print(str_courses)
# convert into a single string
print(str_courses[0])

Chemistry - History - Maths - Physics - Programming
C

<b> STRING TO LIST CONVERSION<b>

In [31]:
# converting string to list
print(str_courses)
# spliting string on ' - ' basis
new_list = str_courses.split(' - ')
print(new_list)

Chemistry - History - Maths - Physics - Programming
['Chemistry', 'History', 'Maths', 'Physics', 'Programming']

In [36]:
# mutability of list
courses_1 = ['Maths', 'Science']
courses_2 = courses_1
print(courses_1)
print(courses_2)

courses_1[0] = 'Arts'
courses_1[1] = 'Physics'
print(courses_1)
# second list also gets changed as its pointing to same reference object.
print(courses_2)

['Maths', 'Science']
['Maths', 'Science']
['Arts', 'Physics']
['Arts', 'Physics']

<b> TUPLE<b>

In [40]:
# tuples: immutable, ordered, duplicacy allowed
tuple_1 = ('History', 'Maths', 'Arts', 'Maths')
print(tuple_1)

# tuple_1[0] = 'Hindi' , error tuples are immutable

('History', 'Maths', 'Arts', 'Maths')

<b> INDEXING IN TUPLE<b>

In [38]:
# indexing tuple
print(tuple_1[0])

History

<b> SLICING IN TUPLE<b>

In [39]:
# slicing tuple
print(tupple_1[0:2])

('History', 'Maths')

<b> SETS <b>

In [45]:
# sets: mutable, unordered and no duplicates
sets_1 = {'Hindi', 'Hindi', 'English', 'Maths', 'History'}
# no order, no duplicate
print(sets_1)

# slicing and indexing is not allowed as it is un ordered (index not fixed)

{'History', 'Maths', 'Hindi', 'English'}

<b> ITEMS 'IN' SET <b>

In [46]:
# efficient than list and tupple
print('Maths' in sets_1)

True

<b> INTERSECTION, DIFFERENCE AND UNION IN SET<b>

In [49]:
# intersection, difference, union in set
cs_courses = {'Networking', 'Database', 'English'}
art_courses = {'Hindi', 'History', 'English'}

# prints the common elements from both set
print(cs_courses.intersection(art_courses))

# prints non-common elements from both set
print(cs_courses.difference(art_courses))

# prints all elements from both set
print(cs_courses.union(art_courses))

{'English'}
{'Database', 'Networking'}
{'History', 'Database', 'Hindi', 'English', 'Networking'}

<b> CREATING EMPTY LIST<b>

In [52]:
# creating empty list
list_empty1 = []
list_empty2 = list()
print(list_empty1)
print(list_empty2)

[]
[]

<b> CREATING EMPTY TUPLE<b>

In [53]:
# creating empty tuple
tuple_empty1 = {}
tuple_empty2 = tuple()
print(tuple_empty1)
print(tuple_empty2)

{}
()

<b> CREATING EMPTY SET<b>

In [54]:
# creating empty set
set_empty1 = ()
set_empty2 = set()
print(set_empty1)
print(set_empty2)

()
set()

<b> DICTONARY <b>

In [55]:
# dictionaries: key-values pair
student = {'Name':'Sumit', 'Age':23, 'Courses':['Maths', 'Python']}
print(student)

{'Name': 'Sumit', 'Age': 23, 'Courses': ['Maths', 'Python']}

<b> GETTING VALUES USING KEY<b>

In [57]:
# getting value using key
print(student['Age'])
print(student['Courses'])

23
['Maths', 'Python']

In [63]:
# getting value if key
print(student.get('Name', 'Not Found'))
# if key is not in dict then return none
print(student.get('Phone', 'Not Found'))

Sumit
Not Found

<b> ADDING ITEMS IN DICT<b>

In [66]:
# adding elements in dict at last index
student['Phone'] = 8287007303
print(student)
# indexing and slicing not applicable as dict has key-value pair

{'Name': 'Sumit', 'Age': 23, 'Courses': ['Maths', 'Python'], 'Phone': 8287007303}

<b> CHNAGING VALUE USING KEY<b>

In [67]:
# changing value of key in dict
student['Name'] = 'Jhon'
print(student)

{'Name': 'Jhon', 'Age': 23, 'Courses': ['Maths', 'Python'], 'Phone': 8287007303}

<b> UPDATING ENTIRE DICT<b>

In [70]:
# updating entire dict
student.update({'Name':'Mark', 'Age':40, 'Courses':['French', 'Spanish'], 'Phone':555544442166})
print(student)

{'Name': 'Mark', 'Age': 40, 'Courses': ['French', 'Spanish'], 'Phone': 555544442166}

<b> DELETING ITEMS USING KEY<b>

In [71]:
# deleting key
del student['Age']
print(student)

{'Name': 'Mark', 'Courses': ['French', 'Spanish'], 'Phone': 555544442166}

<b> DELETING ITEMS USING POP<b>

In [73]:
# poping element
age = student.pop('Phone')
print(age)
print(student)

555544442166
{'Name': 'Mark', 'Courses': ['French', 'Spanish']}

<b> LENGHT OF DICT<b>

In [74]:
# getting length of the dict
print(len(student))
# 2 keys and 2 values

2

<b> GETTING KEYS, VALUES AND BOTH<b>

In [78]:
# getting only keys and values
# keys
print(student.keys())

# values
print(student.values())

# both keys-values pair
print(student.items())

dict_keys(['Name', 'Courses'])
dict_values(['Mark', ['French', 'Spanish']])
dict_items([('Name', 'Mark'), ('Courses', ['French', 'Spanish'])])

<b> LOOPING IN DICT<b>

In [94]:
# only keys
for keys in student.keys():
    print(keys)

Name
Courses

In [95]:
# only values
for values in student.values():
    print(values)

Mark
['French', 'Spanish']

In [100]:
# both keys and values
for keys, values in student.items():
    print(f'{keys} - {values}')
    # print(keys, values)

Name - Mark
Courses - ['French', 'Spanish']

<b> IF CONDITION <b>

In [101]:
# if is conditional statement ( uses comaprison operators )
if True:
    print('Condition is True')

Condition is True

In [103]:
language = 'Python'
if language == 'Python':
    print('This is Python.')

This is Python.

<b> IF ELSE CONDITION<b>

In [106]:
age = 17
if age >= 18:
    print('Eligible to vote')
else:
    print('Not eligible to vote')

Not eligible to vote

<b> IF ELIF ELSE CONDITION <b>

In [116]:
player = 'Dhoni'
# player = 'Messi'
# player = 'Jhon'
if player == 'Dhoni':
    print( 'He is cricketer.')
elif player == 'Messi':
    print('He is footballer.')
else:
    print('He is not a player')

He is cricketer.

<b> IF ELSE WITH COMPARISON OPERATOR <b>

In [123]:
usernname = 'Sumit'
password = 'Admin@123'
inp_username = input('Enter username: ')
inp_password = input('Enter password: ')
if inp_username == 'Sumit' and inp_password == 'Admin@123':
    print('Welcome! ' + inp_username + '. You are successfuly logged in.')
else:
    print('Bad creds.')

Enter username: Sumit
Enter password: Admin@123
Welcome! Sumit. You are successfuly logged in.

<b> OBJECT IDENTITY 'IS' <b>

In [129]:
# == identity
a = [1, 2, 3]
b = [1, 2, 3]
print(id(a))
print(id(b))
if a == b: # compares value not address
    print('Both are equal')
else:
    print('Both are not equal')

103083336
100448520
Both are equal

In [131]:
# is identity
a = [1, 2, 3]
b = [1, 2, 3]
print(id(a))
print(id(b))
if a is b: # compares address not values 
    print('Both are equal')
else:
    print('Both are not equal')

103083336
100545544
Both are not equal

In [128]:
# is identity
a = [1, 2, 3]
b = a
print(id(a))
print(id(b))
if a == b:
    print('Both are equal')
else:
    print('Both are not equal')

103264136
103264136
Both are equal

<b> BREAK STATEMENT<b>

In [143]:
# break the loop if condition is satisfied
ages = [20, 30, 34, 24, 56, 24]
for age in ages:
    if age == 24:
        print('Item found')
        break
    print(age)

20
30
34
Item found

<b> CONTINUE STATEMENT <b>

In [142]:
# continue will continue the loop except where the condition is staisfied
ages = [20, 30, 34, 24, 56, 62, 24]
for age in ages:
    if age == 24:
        print('Item found')
        continue
    print(age)

20
30
34
Item found
56
62
Item found

<b> NESTED FOR LOOP <b>

In [155]:
numbers = [1, 2]
letter = 'ab'
i = 0
for num in numbers:
    for le in letter:
        print(num, le)
        i = i +1
print('Total loop :')
print(i)

1 a
1 b
2 a
2 b
Total loop :
4

<b> RNAGE WITH FOR LOOP<b>

In [156]:
# print upto range
for num in range(5):
    print(num)

0
1
2
3
4

In [157]:
# print within given range
for num in range(1, 5):
    print(num)

1
2
3
4

<b> WHILE LOOP <b>

In [5]:
# while loop terminate for condition
x = 1
while x < 6:
    print(x)
    x += 1

1
2
3
4
5

In [8]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 2:
        words.insert(0, w)
words

['defenestrate', 'window', 'cat', 'cat', 'window', 'defenestrate']

In [1]:
# while loop with break statement
x = 1
while x < 6:
    if x == 3:
        print('Item Found')
        break
    print(x)
    x += 1

1
2
Item Found

<b> FOR ELSE <b>

In [13]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num > 10:
        print(num)
else:
    print('Not Found')

Not Found

In [22]:
# even and odd number
for num in range(1, 6):
    if num % 2 == 0:
        print('Even number found: ', num)
        continue
    print('Odd number found: ', num)

Odd number found:  1
Even number found:  2
Odd number found:  3
Even number found:  4
Odd number found:  5

In [33]:
inp_num = int(input('Enter a number: '))
for num in range(2, inp_num):
    if inp_num % num == 0:
        print(inp_num, 'Number is not prime')
        break
else:
    print(inp_num, 'Number is prime')

Enter a number: 2
2 Number is prime

<B> FUNCTIONS <B>

In [45]:
# perform some particular task , reusability of code
def message():
    pass
# print function with name and address in memory
print(message)

# prints None as there is nothing inside the function body
print(message())

<function message at 0x00000000054C50D0>
None

In [48]:
# simple demo
def message():
    print('Hello! Python.')

# calling function by name
message()

Hello! Python.

<b> PASS BY VALUE <b>

In [75]:
def update(x): # formal argument
    print('Still same address:', id(x))
    x = 8
    print('Address after updating a:', id(x))
    print('X is: ', x)

a = 10
print('Address of a:', id(a))
# we are passing only value of a i.e 10 not var a
update(a) # actual argument
# value of a didn't changed
print('A is: ', a)

def updt_list(lis):
    print('Still same address:', id(lis))
    lis[0] = 20
    print('Address after updating list:', id(lis))
    print('List is:', lis)
    
lst = [1, 25, 30]
print('\nAddress of lst:', id(lst))
updt_list(lst)
# value changed
print('List is:', lst)

Address of a: 8791375000688
Still same address: 8791375000688
Address after updating a: 8791375000624
X is:  8
A is:  10

Address of lst: 89153096
Still same address: 89153096
Address after updating list: 89153096
List is: [20, 25, 30]
List is: [20, 25, 30]

<b> POSITIONAL ARGUMENT <b>

In [63]:
# return some data that can be used repeatitively
def add_sub(num_1, num_2):
    x = num_1 + num_2
    y = num_1 - num_2
    return x, y
# calling function
add, sub = add_sub(15, 10)
print(add, sub)

25 5

<B> DEFAULT ARGUMENT <B>

In [57]:
def hello_fun(greeting, name = 'Sumit'):
    return f'{greeting}, {name}.'

# even we are not passing 2nd param its taking sumit as default
print(hello_fun('Hello'))

# but if we pass some value then it will override the deafult one
print(hello_fun('Hello', 'Agent47'))

Hello, Sumit.
Hello, Agent47.

<b> KEYWORD ARGUMENT <b>

In [77]:
def info(name, age):
    return f'My Name is <{name}> and Age is <{age-3}>'

# no matter what's the order of argument
print(info(age=23, name='Sumit'))

My Name is <Sumit> and Age is <20>

<b> VARIABLE LENGTH ARGUMENT <b>

In [79]:
def sum(*x): # x is tuple
    c = 0
    for i in x:
        c = c + i
    return c
# will add n numbers ( multiple arguments )
a = sum(5,5,5,5)
print(a)

20

<b> KEYWORDED VARIABLE LENGTH ARGUMENT <b>

In [85]:
def person(name, **data):
    print(name)
    print(data)
# multiple agruments with keys and value
person('sumit', age=23, city='Pune', mobile=8287007303)

sumit
{'age': 23, 'city': 'Pune', 'mobile': 8287007303}

<b> LAMBDA EXPRESSION <b>

In [88]:
# lambda expression or anonmous function
# compute 3x + 1

def fun(x):
    return 3*x + 1

val = fun(2)
print(val)

# using lambda expression
g = lambda x : 3*x +1
print(g(2))

7
7

In [92]:
# multiple arg lambda expression
full_name = lambda f_name, l_name : f_name.strip() + ' ' + l_name.strip()
print(full_name('    Professor', 'Leonard'))

Professor Leonard

<b> CLASSES <b>

In [112]:
# class = attribute + methods
# object is blueprint of class

class Employee:
    raise_amount = 0.4 # class variable ( unique to all emp )
    # constuctor ( self as this- points current object)
    def __init__(self, f_name, l_name, salary):
        # these are instance variables ( same to all emp )
        self.f_name = f_name
        self.l_name = l_name
        self.salary = salary
    
    def full_name(self):
        return f'Full Name is {self.f_name} {self.l_name}.'
    
    def apply_raise(self):
        self.salary = int(self.salary + (self.salary * self.raise_amount))

# constructor gets initiated ( emp1 passed as self in init)
emp1 = Employee('Sumit', 'Kumar', 30000)
emp2 = Employee('Test', 'User', 40000)

print('Employee1 data:', emp1.f_name, emp1.l_name, emp1.salary)
print('Employee2 data:', emp2.f_name, emp2.l_name, emp2.salary)

print(emp1.full_name())
# same as previous ( backend process)
print(Employee.full_name(emp2))

print('Previous salary: ', emp1.salary)
emp1.apply_raise()
print('Hiked salary: ', emp1.salary)

Employee1 data: Sumit Kumar 30000
Employee2 data: Test User 40000
Full Name is Sumit Kumar.
Full Name is Test User.
Previous salary:  30000
Hiked salary:  42000